{% extends "fair/_fair_base.html" %}
{% block content %}
    <div class="container-full">
        <div class="container-fluid top-section section text-center">
            <h1>Login</h1>
        </div>
        {% from '_formhelpers.html' import form_field %}
        <div class="container-fluid section bottom-section text-center">
            <img class="loading-spinner"
                 src="{{ url_for('common_static',
                 filename='gif/dark_green_loader.gif') }}" hidden>
            <h3 class="margin">Select a valid authentication provider</h3>
            <br/>
            <div class="submission-form nbi-center">
                <form id="form-create" method="POST"
                      enctype="multipart/form-data">
                    {% for field in form %}
                        {{ form_field(field) }}
                    {% endfor %}
                    <div class="form-group">
                        <input id="btn-login" type="submit"
                               class="btn btn-block btn-success btn-submit"
                               value="Login"/>
                    </div>
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
            </div>
        </div>
    </div>
{% endblock %}